.searchForm {
  width: 70%;
  padding: 0 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid #78c4d4;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 95%;
}

.searchBtn {
  width: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchImg {
  width: 100%;
}

.searchInput {
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
}

.searchInput:focus {
  outline: none;
}
