.userNote {
  width: 30rem;
  height: 45rem;
  background: #f3f2da;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.registerBoard {
  width: 10rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f2;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: 1px solid #949494;
}

.boardList {
  height: 100%;
  padding: 1rem;
  background: #f4f4f2;
  overflow-y: auto;
}
.boardItem {
  width: 100%;
  border: 1px solid black;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.submitBtn {
  background-color: white;
  width: 40px;
}
