.modalWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0e4d7;
  width: 40vw;
  height: 60vh;
  border: 2px solid #968e87;
  padding: 1rem;
}

.boardSubmitButton,
.closeButton {
  cursor: pointer;
  background-color: white;
}
