.calendarContainer {
  width: 100%;
  height: 60vh;
  border: 2px solid #a7a7a7;
}

.calendarHeader {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.calendarMain {
  width: 100%;
}

.calendarHeaderMonth {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
}

.monthController {
  cursor: pointer;
}
.monthController:hover {
  color: grey;
  transform: scale(1.1);
}

.calendarWeek {
  width: 100%;
  height: 9vh;
  border-top: 1px solid black;
  display: flex;
}

.calendarDay {
  width: calc(100% / 7);
  height: 100%;
  background-color: white;
  border-left: 1px solid black;
  padding: 0.3rem;
}
.other {
  background-color: gray;
}
.today {
  color: pink;
}
.sun {
  color: red;
}
.sat {
  color: royalblue;
}
.normal {
  color: black;
}
